/* Contact Us*/
.contact-form {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #092352;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form .form-header {
    text-align: center;
    margin-bottom: 20px;
    color: #C25051;
  }
  
  .contact-form .form-header h4 {
    color: #C25051;
  }
  
  .contact-form .form-items {
    display: flex;
    flex-direction: column;
    
  }
  
  .contact-form .form-group {
    margin-bottom: 15px;
  }
  
  .contact-form .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #C25051;
  }
  
  .contact-form .form-group input,
  .contact-form .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .contact-form .form-group input[type="submit"] {
    background-color: #A84747;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
  }
  
  .contact-form .form-group input[type="submit"]:hover {
    background-color: #C25051;
  }
  