/*Global Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}
/* Root Styles */
#root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
  width: 100%;
  height: 100%; 
  
}
/* Header Styles */
.header-container {
  width: 100%;
  height: auto;
  background-color: #D6DEEC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px;
  margin: 0;

}
.header-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;

}
.header-container li {
  display: inline;
  margin: 0 0px;
}
.header-container li a {
  display: block;
  color: #C25051;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.header-container li a:hover {
  color: #361717;
}
.header-item.church-name a {
  display: flex;
  padding: 16px;
  text-decoration: none;
  color: #C25051;
  font-weight: bold;
  line-height: 1.2;
  white-space: nowrap;
}
.header-item.church-name a:hover {
  color: #361717;
}
.header-item:nth-of-type(1){
  flex:1
}
.header-item:nth-of-type(2){
  flex:1
}
.header-item.church-logo img {
  height: auto;
  width: auto;
  max-height: 80px;
  object-fit: contain;

}
/* Home Page */
.home-page {
  text-align: center;
  background-color: #092352;

}
.home-page .header {
  color:#C25051
}
.home-page .body {
  color:#C25051
}
/* Visit Info Card Styles */
.VisitInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.VisitInfo .service-detail {
 
  text-align: center;
  align-items: stretch;
}
.VisitInfo .visit-detail {
  text-align: center;
}
.VisitInfo .card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px 0;
}
.VisitInfo .card-body {
  padding: 32px;
  flex-wrap: column;
  justify-content: center;

}

.visitInfo .card-body iframe {
  border-radius: 16px;
  margin-bottom:18px;
}

.visitInfo .card-body a {
  color: #007bff;
  text-decoration: none;
}

.visitInfo .card-body a:hover {
  text-decoration: underline;
}
.visitInfo .card-body .map-button {
  background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}
.visitInfo .card-body .map-button:hover {
  background-color: #0056b3;
}
/* Visit US */

/* Contact Us*/
.contact-form {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #092352;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form .form-header {
  text-align: center;
  margin-bottom: 20px;
  color: #C25051;
}

.contact-form .form-header h4 {
  color: #C25051;
}

.contact-form .form-items {
  display: flex;
  flex-direction: column;
  
}

.contact-form .form-group {
  margin-bottom: 15px;
}

.contact-form .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #C25051;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-form .form-group input[type="submit"] {
  background-color: #A84747;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
}

.contact-form .form-group input[type="submit"]:hover {
  background-color: #C25051;
}


