/* Home Page */
.home-page {
    text-align: center;
    background-color: #092352;
  
  }
  .home-page .header {
    color:#C25051
  }
  .home-page .body {
    color:#C25051
  }
  .home-page .events {
    color: #C25051;
  }